<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/freeRead/bootstrap/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="/resources/css/global.css" type="text/css" />
<link rel="stylesheet" href="/resources/css/overwrite.css" type="text/css" />
<script type="text/javascript" src="/resources/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/freeRead/bootstrap/js/bootstrap.js"></script>
</head>
<body>
 #parse("/layout/header.html")
$screen_content
</body>
</html>