<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/freeRead/bootstrap/css/bootstrap.min.css"
	type="text/css" />
<link rel="stylesheet" href="/resources/css/global.css"
	type="text/css" />
<script type="text/javascript" src="/resources/js/jquery-3.1.1.min.js"></script>
</head>
<body>
#macro(menus $parent)
1
<ul class="nav navbar-nav">
2
#foreach($child in $parent)
3
#if($child.Chirdlen)
4
 <li class="dropdown">
   #menus($child)
 </li>
#else
5
<li>
<span class="navbar-text">
<font color="#ffffff">$child.title </font>
</span>
#if($child.imageUrl)
<a class="navbar-brand" href="#">
	<img alt="Brand" src="...">
</a></li>
#end
#end
#end
</ul>
#end
#parse("/layout/header.html") 
$screen_content
</body>
</html>