  <div class='container-fluid header_top_bg'>
 <div class='row'>
  
 #if(!$user)
 <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
		<div class='pull-left'>
			<a href="login"><span class="label label-info">登陆</span></a> | <a><span class="label label-info">注册</span></a>
		</div>
 #elseif($user.isLogin())
 <div>
		<div class='pull-right'>
			欢迎您!<a>亲爱的书友$user.name</a> | <a>消息<span class="badge ">$user.messagenum</span></a>
			| <a><span class="label label-info">退出</span></a>
		</div>
#end
	</div>
	</div>
</div>