body,button, input, select,ul, textarea,h1 ,h2, h3, h4, h5, h6 {
	font-family: PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif;
	}

.header_top_bg{
	background-color: #e4e9e9;
}
a:link { 
color: #e0fefe;
text-decoration:underline; 
} 
a:visited { 
color:#e6f7d2; 
text-decoration:none; 
} 
a:hover { 
color:#ff0000; 
text-decoration:none; 
} 
a:active { 
color:#000000; 
text-decoration:none; 
}
#header_top_cloum{
	padding : -150px;position_left
}
