#set($layout = "/layout/login.vm")  
<meta charset="UTF-8">
<!-- <link rel="stylesheet" href="/freeRead/bootstrap/css/bootstrap.min.css" -->
<!-- 	type="text/css" /> -->
<link rel="stylesheet" href="/resources/css/login.css" type="text/css" />
<body class="bg" id="lbody">
	<div class="container">
		<div class="col-md-offset-3 col-md-7">
			<form class="form-horizontal" id="login">
				<div class="form-group ">
					<label class="col-md-offset-5 col-md-1" style="font-size: 30px"><span
						class="glyphicon glyphicon-user"></span></label>
				</div>
				<div class="form-group ">
				<div class="col-md-offset-0 col-md-11">
					<input type="email" class="form-control" id="inputEmail3"
						name="name" placeholder="用户名或电子邮件"></div>
				</div>
				<div class="form-group">
				<div class="col-md-offset-0 col-md-11">
					<input type="password" class="form-control" id="inputPassword3"
						name="password" placeholder="密　码"></div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-0 col-md-7">
						<input type="text" class="form-control" id="code" name="code"
							placeholder="验证码"></div>
						<div class="col-md-4">
							<img id="Img" alt="点击更换" title="点击更换" src="image" />
						</div>
					</div>
					<div class="form-group">
						<div class="main-checkbox">
							<input type="checkbox" value="None" id="checkbox1" name="check" />
							<label for="checkbox1"></label>
						</div>
						<span class="text">记住我</span>
						<button type="button" class="btn btn-default" id="send">登录</button>
					</div>
					<div class="form-group">
						<span class="error" id="error_show"></span>
					</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$(function() {
			$("#send").click(
					function() {
						$.post("userValidate", $("#login").serialize(),
								function(data, textStatus) {
									var status = data.status;
									if (status == "sucess") {
										var url = data.url;
										var id = data.id;
										alert("ssss");
										window.location.href = url+"?name="+id;
									} else {
										var message = data.message;
										$("#error_show").text(message);
									}

								});
					})
		})
	</script>
</body>
</html>