<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/freeRead/bootstrap/css/bootstrap.min.css"
	type="text/css" />
<link rel="stylesheet" href="/resources/css/login.css" type="text/css" />
</head>
<body class="bg" id="lbody">
	<div class="container">
		<div class="col-md-offset-3 col-md-6">
			<form class="form-horizontal" id="login">
				<div class="heading">
					<span class="col-lg-11 text-center text-info">请登录</span>
				</div>
				<label class="col-md-offset-5 col-md-1" style="font-size: 30px"><span
					class="glyphicon glyphicon-user"></span></label>
				<div class="form-group">
					<input type="email" class="form-control" id="inputEmail3" name="name"
						placeholder="用户名或电子邮件">
				</div>
				<div class="form-group help">
					<input type="password" class="form-control" id="inputPassword3" name="password"
						placeholder="密　码"> <a href="#"
						class="fa fa-question-circle"></a>
				</div>
				<div class="form-group">
					<div class="main-checkbox">
						<input type="checkbox" value="None" id="checkbox1" name="check" />
						<label for="checkbox1"></label>
					</div>
					<span class="text">记住我</span>
					<button type="button" class="btn btn-default" id="send">登录</button>
				</div>
				<div class="form-group">
				<span class="error" id="error_show"></span>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript" src="/resources/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$("#send").click(function(){
				$.post("userValidate",$("#login").serialize(),
						function(data,textStatus){
					alert(textStatus);
					var status=data.status;
					if(status=="sucess"){
						var url=data.url;
						window.location.href = url;
					}else{
						var message=data.message;
						$("#error_show").text(message);
					}
					
				});
			})
		})
	</script>
</body>
</html>