	<div class="container-fluid noPadding" id="spaces"> 
	<!-- 横放菜单部分 -->
	<nav class="navbar navbar-inverse noMargin">
		<div class="container-fluid">
			<div class='row'>
				#foreach($menuNode in $menus )
				<div class="col-md-2 col-lg-2">
					<ul class="nav navbar-nav noSpaces">
					<li class="noSpaces"><a class="navbar-brand noPadding noSpaces" href="#"> 
					<span class="navbar-text vertical noSpaces relative"><font class="noSpaces" color="#ffffff">$menuNode.title
					</font></span> #if($menuNode.imageUrl) 
					<img alt="Brand" src="..."> 
					#end
						</a></li>
					</ul>
				</div>
				#end
			</div>
		</div>
</nav>
	<!-- 竖直菜单部分 -->
	
	<nav class="navbar navbar-inverse position_left col-md-2 col-lg-2">
		<div class="container-fluid noPadding ">
			<div class="collapse navbar-collapse" id="navbar-menu">		
					<div class="row">
					#foreach($cloumNode in $cloumMenus)
					<div class="col-md-6 col-lg-6">
						<ul class="nav navbar-nav noPadding"">
					<li><a class="navbar-brand noPadding" href="#"> <span
							class="navbar-text vertical"><font color="#ffffff">$cloumNode.title</font></span>
							#if($cloumNode.imageUrl) <img alt="Brand" src="..."> #end
					    </a>
					</li>						
					 </div>
					 #end
					  </div>
				</ul>
			</div>
			</div>
	</nav>
</div>
